<div class="container">

    <div class="left-column">
        <div class="left-align" *ngIf="item">
            <h1>{{item.title}}</h1>
            <h4>{{item.description}}</h4>
        </div>
        <div>
            <div class="carousel-container">
                <ng-image-slider [images]="imageObject" #nav></ng-image-slider>

            </div>
            <div class="carousel-text">
                <h5>Scopri tutta la gamma dei nostri prodotti:</h5>
                <p>Non fermarti alla prima lega. I nostri servizi ti accompagnano fino alla realizzazione di tutti i tuoi sogni</p>
            </div>
            <div class="carousel-wrapper">
            </div>
        </div>
    </div>
    <div class="central-column">
        <img src="https://hdqwalls.com/download/kda-akali-lol-art-v9-1440x2960.jpg" id="akali">
    </div>
    <div class="right-column">
        <div class="placeholder"> </div>
        <div class="left-align">
            <h3 class="price">€ {{item?.price}}</h3>
            <p class="payment-disclaimer">Assicuriamo a tutti i nostri utenti la sicurezza dei pagamenti, garantita attraverso la collaborazione con l'istituto di credito XYZ e il servizio PayPal</p>
        </div>

    </div>
</div>
<div class="footer">
    <ul>
        <li>
            <img src="https://img.icons8.com/color/48/000000/facebook.png">
        </li>
        <li>
            <img src="https://img.icons8.com/color/48/000000/twitter-squared.png">
        </li>
        <li>
            <img src="https://img.icons8.com/material-outlined/48/000000/instagram-new.png">
        </li>
        <li>
            <img src="https://img.icons8.com/ios-glyphs/48/000000/pinterest.png">
        </li>
        <li>
            <img src="https://img.icons8.com/ios-glyphs/48/000000/snapchat.png">
        </li>
        <li>
            <span class="copyright">Copyright 2019 | Kana S.p.a.</span>
        </li>
    </ul>
</div>