<div>
    <ul>
        <ng-container *ngFor="let item of list">
            <li>
                <div class="container">
                    <div class="logoContainer">
                        <img src={{item.image}} class="logo">
                    </div>
                    <div class="listItem">
                        <p class="title">{{item.title}}</p>
                        <p>{{item.description}}</p>
                    </div>
                    <div class="icons">
                        <i class="material-icons" (click)="setFavorite()">favorite_border</i>
                        <i class="material-icons" id="favorite" (click)="setNotFavorite()">favorite</i>
                        <i class="material-icons">share</i>
                        <i class="material-icons">more_vert</i>
                    </div>
                </div>
            </li>
        </ng-container>
    </ul>
</div>