logoContainer
    grid-column: 1
    -ms-grid-column: 1
    
img.logo
    height: 100px
    width: 100px
    background: black
    display: flex
    margin: 5px

li 
    list-style-type: none
    background-color: white
    color: rgb(33, 47, 60)
    border-radius: 20px
    margin-bottom: 10px
    margin-right: 10px

.container 
    display: grid
    display: -ms-grid
    grid-template-columns: 100px auto 100px
    -ms-grid-columns: 100px auto 100px
    padding: 5px


p.title
    font-weight: bold
    

div.listItem

    padding-left: 10px
    border-radius: 10px
    padding-bottom: 5px
    margin-bottom: 5px
    grid-column: 2  
    -ms-grid-column: 2
    color: rgb(33, 47, 60)

div.icons 
    display: flex
    justify-content: flex-end
    align-items: center
    grid-column: 3
    -ms-grid-column: 3

i
    cursor: pointer


