<link href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700" rel="stylesheet" type="text/css" />
<link href="https://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
<div class="signin cf">

    <form [formGroup]="register" (ngSubmit)="doReg()">
        <div class="imgcontainer">
            <img src="https://gamepedia.cursecdn.com/lolesports_gamepedia_en/5/58/Good_Game_Universitylogo_square.png?version=fc22e0041562d9245cf110e9dc93c6cb" alt="Avatar" class="avatar">
        </div>
        <div>
            <button type="button" class="btn" (click)="goBack()">x</button>
        </div>
        <div class="inputrow">
            <input type="text" id="name" placeholder="Nome Utente" formControlName="name" />
            <label class="ion-person" for="name"></label>
        </div>
        <div class="inputrow">
            <input type="text" id="signin" placeholder="Cognome " formControlName="surname" />
        </div>
        <div class="inputrow">
            <label class="ion-locked " for="pass"></label>
        </div>
        <div class="inputrow">
            <input type="password " id="signin" placeholder="Password " formControlName="password" />
        </div>
        <label class="ion-locked " for="pass "></label>
        <input type="email " id="signin" placeholder="Email " formControlName="email" />
        <label class="ion-locked " for="pass "></label>
        <input type="text " id="signin" placeholder="Phone " formControlName="phone" />
        <label class="ion-locked " for="pass "></label>

        <button type="submit " value="Registrati ">Registrati </button>
    </form>