<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div style="overflow: auto">
    <div class="searchBar">
        <ng-container *ngIf="routeIsActive('/list')">
            <input type="search" placeholder="Cerca" [(ngModel)]="searchText">
            <i (click)="search()" class="material-icons">search</i>
        </ng-container>
        <img src="assets/images/logo.png">
    </div>
    <ul>
        <ng-container *ngFor="let item of listItm">

            <li [routerLink]="item.path" routerLinkActive="active">
                {{item.title}}
            </li>
        </ng-container>
        <li (click)="doLogout()">Esci</li>
    </ul>
</div>