.menu ul {
    width: 800px;
    padding: 50;
    margin: 5000;
    display: block;
    list-style-type: none;
}

.menu li {
    display: inline;
}

.menu li a {
    padding: 50px;
    text-decoration: none;
}