
<div class= "formcontainer">
  <div class="formdimensions">
    <form action="/action_page.php">
  <div class="imgcontainer">
    <img src="https://gamepedia.cursecdn.com/lolesports_gamepedia_en/5/58/Good_Game_Universitylogo_square.png?version=fc22e0041562d9245cf110e9dc93c6cb" alt="Avatar" class="avatar">
  </div>

  <div class="container">
      <button type="button"  onclick="">+</button>
    <label for="uname"><b>Nome Utente</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit">Accedi</button>
    <p></p>
    <div class="switch">
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>Memorizza Password
          </label>
      </div>
  </div>
</form>
</div>
</div>
