<link href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700" rel="stylesheet" type="text/css"/>
<link href="https://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
<div class="signin cf">
  
  <form>
    <div class="imgcontainer">
          <img src="https://gamepedia.cursecdn.com/lolesports_gamepedia_en/5/58/Good_Game_Universitylogo_square.png?version=fc22e0041562d9245cf110e9dc93c6cb" alt="Avatar" class="avatar">
    </div>
      <div class="btn-container">
      <button type="button" class="btn">+</button>
    </div>
    <div class="inputrow">
      <input type="text" id="name" placeholder="Nome Utente"/>
      <label class="ion-person" for="name"></label>
    </div>
    <div class="inputrow">
      <input type="password" id="pass" placeholder="Password"/>
      <label class="ion-locked" for="pass"></label>
    </div>
    <input type="checkbox" name="remember" id="remember"/>
    <label class="radio" for="remember">Memorizza Password</label>
    <div>
      <input type="submit" value="Accedi"/>
    </div>
  </form>
</div>