<div class="container">
    <h1 class="label">Benvenuto</h1>
    <label class="label"><h3>{{user.name}}</h3></label>

    <div class="container">
        <div class="row">
            <div class="columnright">
                <h5>Nome</h5>
                <h5>Password</h5>
                <h5>Gender</h5>
                <h5>Email</h5>
                <h5>Telefono</h5>
            </div>
            <div class="columnleft">
                <h5><b>{{user.name}}</b></h5>
                <h5><b>{{user.password}}</b></h5>
                <h5><b>Maschio</b></h5>
                <h5><b>{{user.email}}</b></h5>
                <h5><b>{{user.phone}}</b></h5>
            </div>
        </div>
    </div>
</div>