.container 
  text-align: center
  display: block 
  position: relative 
  width: 400px 
  margin: 20px auto 
  padding: 20px  
  -webkit-border-radius: 5px 
  -moz-border-radius: 5px 
  border-radius: 5px 

.imgcontainer 
  text-align: center
  margin: 24px 0 12px 0
    
.avatar  
  width: 100px 
  height: 100px 
  margin: 0 auto 35px auto 
  border: 0px solid #fff

.row
    display: flex

.columnleft 
  border-left: 3px solid green
  font-weight: bold
  text-align: left
  width: 200px
  padding: 10px

.columnright
  font-weight: lighter
  text-align: right
  width: 200px
  padding: 10px
