div.container
    text-align: center
    display: grid
    display: -ms-grid
    grid-template-columns: auto 400px auto
    -ms-grid-columns: auto 400px auto

div.central-column
    grid-column: 2 
    -ms-grid-column: 2

i
    font-size: 35px

div.form-item
    border-bottom: 1px solid white
    background: lightblue

div.icon-container
    position: absolute
    position: left
    width: 35px

div.input-container
    padding-left: 5px
    text-align: left
    position: relative
    padding: 0px
    margin: 0px
    left: 36px
    width: 360px

label
    width: 360px
    padding: 0px
    margin: 0px

input
    border: none
    padding: 0px
    margin: 0px
    background: lightblue
    width: 360px

select
    border: none
    padding: 0px
    margin: 0px
    background: lightblue
    width: 360px

textarea
    border: none
    padding: 0px
    margin: 0px
    background: lightblue
    width: 360px
    height: 100px
    font-weight: bold